.main {
    width: 100%;
    /*height: 100dvh;*/
}

.box {

}

.container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #182b41;
    padding: 25px;
}